<div class="navbar">
    <div class="navbar__wrapper">
        <div class="navbar__section">
            <div>
                <a class="navbar__routerLink" [routerLink]="'/'" name=''>Description</a>
            </div>
        </div>
        <div class="navbar__section">
            <div>
                <a class="navbar__routerLink" [routerLink]="'/example/one'" name='one'>Example 1</a>
            </div>
        </div>
        <div class="navbar__section">
            <div>
                <a class="navbar__routerLink" [routerLink]="'/example/second'" name='second'>Example 2</a>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <p>Główne cechy ChangeDetectionStrategy:</p>
    <div><p> Domyślne zachowanie ChangeDetectionStrategy.Default:</p></div>
    <ul>
        <li>Angular automatycznie sprawdza zmiany w komponencie oraz wszystkich jego podkomponentach przy każdym cyklu
            detekcji zmian.</li>
        <li> Zmiany są sprawdzane nawet wtedy, gdy nie nastąpiła żadna zmiana w danych.</li>
    </ul>

    <div><p> Zachowanie ChangeDetectionStrategy.OnPush:</p></div>
    <ul>
        <li>Angular sprawdza zmiany w komponencie tylko w określonych sytuacjach, takich jak:</li>
        <ul>
            <li>Zmiana wejściowych danych (&#64;Input) — tylko gdy zmieni się referencja obiektu/zmiennej.</li>
            <li>Własna akcja w komponencie — np. kliknięcie przycisku lub wywołanie metody, które ręcznie uruchamiają
                detekcję zmian (markForCheck, detectChanges).</li>
        </ul>
        <li>Podkomponenty nie są automatycznie sprawdzane, jeśli komponent rodzica jest oznaczony jako "czysty" i nie
            zmieniły się jego wejściowe dane.</li>
    </ul>
</div>
<router-outlet />