
.navbar {
 
    .navbar__wrapper {
        display: flex;
        justify-content: space-evenly;
    }
}
.content {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    margin: 100px;
}