.child {
    display: flex;
    border: 2px solid yellowgreen;
    margin: 1px;
    .content {
        margin: 25px;
        .button-container {
            display: flex;
            gap: 10px; 
            flex-wrap: wrap;
            margin: 10px 0;
        }
    }
}