/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5; /* Wysokość linii */
    letter-spacing: 0.12em; /* Odstęp między literami */
    word-spacing: 0.16em; /* Odstęp między wyrazami */
    color: #333333;
    background-color: #ffffff;
}
